body {
    background-color: antiquewhite;
}


#upper {
    float: left;
    border-radius: 10px;
    background-color: aquamarine;
}

#top-left {
     width: 45%;
     float: left;
} 

#top-right {
     width: 45%;
     float: right;
} 

#toget { 
    width: 70%;
    float: left;
} 

#img-01 {
    margin-left: 10px;
}

#img-02 {
    text-align: center;
}

#img-03 {
    text-align: right;
}

#img { 
    width: 100%;
    float: left;
}

#eat_text {
    float: right ;
    width: 20%;
}

#menu {
    text-align: center;
}

.text {
    float: left;
} 

.burg {
    float: left;
    width: 70%;
}

.deals {
    float: right;
}

.img-cad {
    float: right;
    margin-right: 20px;
}

.end {
    background-color: aquamarine;
    margin-bottom: 10px;
}

.pin {
    background-color: green;
    border-color: green;
    border-radius: 20px;
}

.column {
    float: left;
    width: 43.33%;
    padding: 5px;
}