body {
    background-color: antiquewhite;
}


#upper {
    float: left;
    border-radius: 10px;
    background-color: aquamarine;
}

#top-left {
     width: 45%;
     float: left;
} 

#top-right {
     width: 45%;
     float: right;
}

#eat_text {
    float: right;
}

.text {
    float: left;
}

.img-cad {
    float: right;
    margin-right: 20px;
}